.array-container
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
    /* display: block; */
}

.array-bar
{
    width: 5px;
    background-color: lightskyblue;
    display: inline-block;
    margin: 0 1px
}